body {
    background-color: white;
  }
  
  h3{
    font-family: 'Merriweather', serif;
    justify-content: center;
  }
  .home {
    background-image: url(../images/dl_bg_images/delani_homebg.jpg);
    background-size: cover;
    text-align: center;
    color: white;
  }
  .logo {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  .mouse {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }