body {
    background-color: white;
  }
  
  h3{
    font-family: 'Merriweather', serif;
    justify-content: center;
  }
  .home {
    background-image: url(../images/dl_bg_images/delani_homebg.jpg);
    background-size: cover;
    text-align: center;
    color: white;
  }
  .logo {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  .mouse {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  .Aboutus {
    text-align: center;
    color: black;
    font-size: small;
    font-family: 'Yantramanav', sans-serif;
}
.services {
  background-image: url(backgrounds/s_image.jpg);
  background-size: cover;
  text-align: center;
  color: white;
  font-size: small;
  font-family: 'Yantramanav', sans-serif;
}
.hide{
    display:none;
  }
  
  .Hover {
    opacity:0;
    background-color: rgba(255, 255, 255, 0.623);
    position: absolute;
    top:25%;
    bottom:25%;
    left:25%;
    right:25%; 
  }
  .custom-info-on-portfolio-images {
    height: 280px;
    max-width: 280px;
    padding:2px;
  }
  .row{
    padding:2%;
  }